.actions img {
  background-color:wheat;

  width: 20px;
  margin: 5px;
  margin-top: 14px;
}

.feed {
  background-color:yellow;

  margin-top: 50px;
  display: flex;
  flex-direction: column;
}

.profilePic {
  background-color:teal;

  width: 80px;
  margin: 30px;
  margin-right: 30px;
}

.userHandle {
  background-color: yellowgreen;

  margin-left: auto;
  margin-right: 30px;
}

article {
  background-color:white;

  padding: 30px 50px 30px 50px;
  margin: 20px 0px 20px 0px;

  display: flex;
  flex-direction: column;

  border: 5px solid #4056A1 
}

article address {
  background-color:tomato;

  font-size: 1em;
}

.tweet {
  padding: 25px;
}

article header {
  margin: 0;
  padding: 0;

  background-color:violet;
  
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

footer {
  padding: 0px 25px 0px 25px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  border-top: 2px solid #4056A1;
}

time {
  font-size: 0.8em;
}