menu {
  font-size: 0.9em;
}

nav span {
  font-family: 'Bungee', sans-serif;
  font-size: 1.5em;
}

nav {
  height: 120px;
  width: 100%;
  padding: 1.5em;

  position: fixed;
  top: 0;

  background-color: #4056A1;
  color: #F5F5F5;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 1024px) {
  menu {
    font-size: 3.5vw;
  }

  nav span {
    font-size: 5vw;
  }

  nav {
    height: 1vh;
  }
}