button[type="submit"] {
  border: 0;
  padding: 0.2em 0.5em 0.2em 0.5em;

  background-color: #4056A1;

  color: #F5F5F5;
}

button:hover {
  background-color: #6D82C5;
}

textarea[name="text"] {
  height: 100px;
  width: 100%;
  resize: vertical;
  padding: 0.5em;

  border: 0px;
  border-bottom: 5px solid #4056A1;

  background-color: #FFFFFF;
}

textarea:focus {
  outline: none;
}

.tweet-footer {
  margin-top: 10px;

  display: flex;
  justify-content: space-between;

  font-family: 'Bungee', sans-serif;
}

